<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>

<table class="manage_tools" id="list_tools">
<tbody>
    <tr>
        <td>
            <a href="{{ path('fos_user_profile_edit') }}">
                Edit Profile
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ path('fos_user_change_password') }}">
                Change Password
            </a>
        </td>
    </tr>
</tbody>
</table>
