{% extends '::base.html.twig' %}

{% block title %}Simple fly management{% endblock %}

{% block logo_header %}
    <a href="{{ path('fly_flydb_homepage') }}">FlyDB</a>
{% endblock %}

{% block title_header %}
    for those masters
    <br>
    of flies
{% endblock %}

{% block menu %}
<ul>
    <li>
        <a href="{{ path('flymanage_new') }}">Add a Fly Line</a>
    </li>
    <li>
        <a href="{{ path('flymanage') }}">Manage Fly Stock</a>
    </li>
    <li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </li>
</ul>
{% endblock %}

{% block custome_fos_user %}
{% endblock %}

{% block searchbar %}
<div class="search_bar">
<div class="content">
    <form class="search_form" method="get" action="{{ path('flydb_search') }}">
        <input id="search_text" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" type="text" value="Search..." name="searchTerm">
        <input id="submit_button" type="submit" value="Go" >
        <div class="help">Hit "Enter" to Search. Operators: "AND" "NOT" ...</div>
    </form>
</div>
</div>
{% endblock %}

{% block infobar %}
<div class="infobar-box">
    <div class="export_tool">
        <p>
            <a href="{{ path('fly_export_csv') }}">Export All</a>
        </p>
        <p>
            <a href="{{ path('fly_user_export_csv') }}">Export Yours</a>
        </p>
    </div>
</div>
{% endblock %}
