{% extends 'FlyFlydbBundle::layout.html.twig' %}

{% block body %}
<div id="flylines">

<h1>Flyline list</h1>

<table class="flyline_list">
    <thead>
        <tr class="header">
            <th>Name</th>
            <th>Owner</th>
            <th>Genotype</th>
            <th>Location</th>
            <th>Origin</th>
            <th>Tag</th>
            <th>Note</th>
            <th>Last Cared</th>
        </tr>
    </thead>
    <tbody>
    {% for i, entity in pager.currentPageResults %}
        <tr class="{{ cycle(['odd', 'even'], i) }}">
            <td class="name"><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.owner }}</td>
            <td>{{ entity.genotype }}</td>
            <td>{{ entity.location }}</td>
            <td>{{ entity.origin }}</td>
            <td>{{ entity.tag }}</td>
            <td><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.note(10) }}...</a></td>
            <td>{% if entity.cared %}{{ entity.cared|daysToNow }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination pagerfanta">{{ pagerfanta(pager) }}</div>

</div>
{% endblock %}
