{% extends 'FlyFlydbBundle::layout.html.twig' %}

{% block body %}
<div id="flylines">

<h1>Flyline list</h1>

<table class="flyline_list">
    <thead>
        <tr class="header">
            <th class="name">Name</th>
            <th class="owner">Owner</th>
            <th class="genotype">Genotype</th>
            <th class="location">Location</th>
            <th class="origin">Origin</th>
            <th class="tag">Tag</th>
            <th class="note">Note</th>
            <th class="cared">Last Cared</th>
        </tr>
    </thead>
    <tbody>
    {% for i, entity in pager.currentPageResults %}
        <tr class="{{ cycle(['odd', 'even'], i) }}">
            <td class="name"><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td class="owner">{{ entity.owner }}</td>
            <td class="genotype">{{ entity.genotype }}</td>
            <td class="location">{{ entity.location }}</td>
            <td class="origin">{{ entity.origin }}</td>
            <td class="tag">{{ entity.tag }}</td>
            <td class="note"><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.note(10) }}...</a></td>
            <td class="cared">{% if entity.cared %}{{ entity.cared|daysToNow }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination pagerfanta">{{ pagerfanta(pager) }}</div>

</div>
{% endblock %}
