{% extends 'FlyFlydbBundle::layout.html.twig' %}

{% block body %}
<div id="flylines">

<h1>Flyline list</h1>

<table class="flyline_list">
    <thead>
        <tr class="header">
            <th class="name">Name</th>
            <th class="owner">Owner</th>
            <th class="genotype">Genotype</th>
            <th class="location">Location</th>
            <th class="origin">Origin</th>
            <th class="tag">Tag</th>
            <th class="note">Note</th>
            <th class="cared">Last Cared</th>
        </tr>
    </thead>
    <tbody>
    {% for i, entity in pager.currentPageResults %}
        <tr class="{{ cycle(['odd', 'even'], i) }}">
            <td class="name"><span><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.name }}</a></span></td>
            <td class="owner"><span>{{ entity.owner }}</span></td>
            <td class="genotype"><span>{{ entity.genotype }}</span></td>
            <td class="location"><span>{{ entity.location }}</span></td>
            <td class="origin"><span>{{ entity.origin }}</span></td>
            <td class="tag"><span>{{ entity.tag }}</span></td>
            <td class="note"><span><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.note(10) }}...</a></span></td>
            <td class="cared">{% if entity.cared %}<span>{{ entity.cared|daysToNow }}</span>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination pagerfanta">{{ pagerfanta(pager) }}</div>

</div>
{% endblock %}
