{% extends 'FlyFlydbBundle::layout.html.twig' %}


{% block searchbar %}
<div class="search_bar">
<div class="content">
    <form class="search_form" method="get" action="{{ path('flydb_search_manage') }}">
        <input id="search_text" onfocus="if (this.value == 'Search and manage...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search and manage...';}" type="text" value="Search and manage..." name="searchTerm">
        <div class="help">Hit "Enter" to Search and Manage. Operators: "AND" "NOT" ...</div>
        <input id="submit_button" type="submit" value="Go">
    </form>
</div>
</div>
{% endblock %}

{% block body %}
<div id="flylines">

<h1>Flyline Management</h1>

<form id="flyManageForm" name="flyManageForm" action="{{ path('flymanage_care_multiple') }}" method="post">

<table class="flyline_list">
    <thead>
        <tr>
            <th class="checkbox"> </th>
{#            <th class="manage_tools"> </th>  #}
            <th class="name">Name</th>
            <th class="owner">Owner</th>
            <th class="genotype">Genotype</th>
            <th class="location">Location</th>
            <th class="origin">Origin</th>
            <th class="tag">Tag</th>
            <th class="note">Note</th>
            <th class="cared">Last Cared</th>
        </tr>
    </thead>
    <tbody>
    {% for i, entity in pager.currentPageResults %}
        <tr class="{{ cycle(['odd', 'even'], i) }}">
            <td class="checkbox">
                <div class="multi_checkbox" >
                <input id="checkbox{{ entity.id }}" type="checkbox" value="{{ entity.id }}" name="flylines[{{ entity.id }}]" />
                <label for="checkbox{{ entity.id }}"></label>
                </div>
            </td>
{#            <td class="manage_tools" class="manage_tools"> <a href="{{ path('flymanage_edit', { 'id': entity.id }) }}">Edit</a> </td>
#}
            <td class="name"><a href="{{ path('flymanage_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td class="owner">{{ entity.owner }}</td>
            <td class="genotype">{{ entity.genotype }}</td>
            <td class="location">{{ entity.location }}</td>
            <td class="origin">{{ entity.origin }}</td>
            <td class="tag">{{ entity.tag }}</td>
            <td class="note"><a href="{{ path('flymanage_edit', { 'id': entity.id }) }}">{{ entity.note(10) }}...</a></td>
            <td class="cared">{% if entity.cared %}{{ entity.cared|daysToNow }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button value="care" type="submit">
Care Selected Flylines
</button>

</form>

<div class="pagination pagerfanta">{{ pagerfanta(pager) }}</div>



</div>
{% endblock %}
