{% extends 'FlyFlydbBundle::layout.html.twig' %}


{% block searchbar %}
<div class="search_bar">
<div class="content">
    <form class="search_form" method="get" action="{{ path('flydb_search_manage') }}">
        <input id="search_text" onfocus="if (this.value == 'Search and manage...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search and manage...';}" type="text" value="Search and manage..." name="searchTerm">
        <div class="help">Hit "Enter" to Search and Manage. Supports <a href="http://lucene.apache.org/core/old_versioned_docs/versions/3_0_0/queryparsersyntax.html" target="_blank">Lucene syntax</a>.</div>
        <input id="submit_button" type="submit" value="Go">
    </form>
</div>
</div>
{% endblock %}

{% block body %}
<div id="flylines">

<h1>Flyline Management</h1>

<form id="flyManageForm" name="flyManageForm" action="{{ path('flymanage_care_multiple') }}" method="post">

<table class="flyline_list">
    <thead>
        <tr>
            <th class="checkbox"> </th>
{#            <th class="manage_tools"> </th>  #}
            <th class="name">Name</th>
            <th class="owner">Owner</th>
            <th class="genotype">Genotype</th>
            <th class="location">Location</th>
            <th class="origin">Origin</th>
            <th class="tag">Tag</th>
            <th class="note">Note</th>
            <th class="cared">Last Cared</th>
        </tr>
    </thead>
    <tbody>
    {% for i, entity in pager.currentPageResults %}
        <tr class="{{ cycle(['odd', 'even'], i) }}">
            <td class="checkbox">
                <label for="checkbox{{ entity.id }}">
                    <input id="checkbox{{ entity.id }}" type="checkbox" value="{{ entity.id }}" name="flyline_checkbox[]" /> 
                </label>
            </td>
{#            <td class="manage_tools" class="manage_tools"> <a href="{{ path('flymanage_edit', { 'id': entity.id }) }}">Edit</a></span></td>
#}
            <td class="name"><span><a href="{{ path('flymanage_edit', { 'id': entity.id }) }}">{{ entity.name }}</span></a></td>
            <td class="owner"><span>{{ entity.owner }}</span></td>
            <td class="genotype"><span>{{ entity.genotype }}</span></td>
            <td class="location"><span>{{ entity.location }}</span></td>
            <td class="origin"><span>{{ entity.origin }}</span></td>
            <td class="tag"><span>{{ entity.tag }}</span></td>
            <td class="note"><span><a href="{{ path('flyline_show', { 'id': entity.id }) }}">{{ entity.note(10) }}...</a></span></td>
            <td class="cared">{% if entity.cared %}<span>{{ entity.cared|daysToNow }}</span>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table>
<tr>
<input type="button" value="Reverse Select" onclick="reverseAllCheckBoxes('flyManageForm', 'flyline_checkbox[]')">
</tr>
<tr>
<input type="button" value="Select All" onclick="setAllCheckBoxes('flyManageForm', 'flyline_checkbox[]', true)">
</tr>
<tr>
<input type="button" value="Clear All" onclick="setAllCheckBoxes('flyManageForm', 'flyline_checkbox[]', false)">
</tr>
</table>

<button value="care" type="submit">
Care Selected Flylines
</button>

</form>

<div class="pagination pagerfanta">{{ pagerfanta(pager) }}</div>

</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function setAllCheckBoxes(FormName, FieldName, CheckValue)
{
    if(!document.forms[FormName])
        return;
    var objCheckBoxes = document.forms[FormName].elements[FieldName];
    if(!objCheckBoxes)
        return;
    var countCheckBoxes = objCheckBoxes.length;
    if(!countCheckBoxes)
        objCheckBoxes.checked = CheckValue;
    else
        // set the check value for all check boxes
        for(var i = 0; i < countCheckBoxes; i++)
            objCheckBoxes[i].checked = CheckValue;
}

function reverseAllCheckBoxes(FormName, FieldName)
{
    if(!document.forms[FormName])
        return;
    var objCheckBoxes = document.forms[FormName].elements[FieldName];
    if(!objCheckBoxes)
        return;
    var countCheckBoxes = objCheckBoxes.length;
    if(!countCheckBoxes)
        objCheckBoxes.checked = !objCheckBoxes.checked;
    else
        // set the check value for all check boxes
        for(var i = 0; i < countCheckBoxes; i++)
            objCheckBoxes[i].checked = !objCheckBoxes[i].checked;
}
</script>
{% endblock %}
