{% extends 'FlyFlydbBundle::layout.html.twig' %}

{% block body %}

<div id="flyline">
<h1>Line: {{ entity.name }}</h1>

{% if is_granted('ROLE_USER') %}
<table class="manage_tools" id="edit_tools">
<tbody>
{% if is_granted('EDIT', entity) %}
<tr>
    <td>
        <a href="{{ path('flymanage_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </td>
    <td>
        <a href="{{ path('flymanage_care', { 'id': entity.id }) }}">
            Care
        </a>
    </td>
{% endif %}
    <td>
        <a href="{{ path('flymanage_copy', { 'id': entity.id }) }}">
            Create New Line From This
        </a>
    </td>
</tr>
</tbody>
</table>
{% endif %}

<table class="flyline_info">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ entity.owner }}</td>
        </tr>
        <tr>
            <th>Genotype</th>
            <td>{{ entity.genotype }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ entity.location }}</td>
        </tr>
        <tr>
            <th>Room</th>
            <td>{{ entity.location.place }}</td>
        </tr>
        <tr>
            <th>Temperature</th>
            <td>{{ entity.location.temperatureC }}</td>
        </tr>
        <tr>
            <th>Origin</th>
            <td>{{ entity.origin }}</td>
        </tr>
        <tr>
            <th>Tag</th>
            <td>{{ entity.tag }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Update At</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Last Cared</th>
            <td>{{ entity.cared|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ entity.note }}</td>
        </tr>
    </tbody>
</table>

<table class="manage_tools" id="list_tools">
<tbody>
    {% if is_granted('EDIT', entity) %}
    <tr>
        <td>
            <a href="{{ path('flymanage') }}">
                To management list
            </a>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <a href="{{ path('flyline_index') }}">
                To Flyline list
            </a>
        </td>
    </tr>
</tbody>
</table>

</div>
{% endblock %}
